# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env

# Jupyter
.ipynb_checkpoints/

# Models
models/

# OS files
.DS_Store
Thumbs.db

# Editor
.vscode/


.env
venv/
__pycache__/
*.pyc

data/qa_embeddings.npy
data/qa_metadata.jsonl
models/